<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="#home" class="logo"> <img src="logo4.png" alt=""></a>
        <a class="navLinks" href="#services">Services</a>
        <a class="navLinks" href="#blogs">Quick Blogs</a>
        <a class="navLinks" href="#contact">Contact Us</a>
        <a class="navLinks" href="#about">About</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <script src="/public/scripts/navScripts.js"></script>